.btn {
  border: none;
  border-radius: 15px;
  padding: 15px;
  font-weight: 700;
  background-color: #FFDE00;
  cursor: pointer;
  min-width: 50px;
  min-height: 50px;

  @media (max-width: 480px) {
    padding: 5px;
  }
}