.part-card {
  display: flex;
  flex-direction: column;
  border: 2px solid $color-nero-60;
  border-radius: 20px;
  padding: 15px 10px;

  @include vp-767 {
    border-width: 1px;
    padding: 8px;
  }

  &__title {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    margin: 0;
  }

  &__article {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0 0 8px 0;

    @media (max-width: 600px) {
      margin-bottom: 4px;
    }
  }

  &__size-wrapper {
    display: flex;
    gap: 10px;
    margin: 0 0 20px 0;
    @media (max-width: 600px) {
      margin-bottom: 10px;
    }
  }

  &__size {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
  }

  &__quantity {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    margin: 0 0 15px 0;

    @media (max-width: 600px) {
     margin-bottom: 8px; 
    }
  }

  &__btn-wrapper {
    display: flex;
    gap: 20px;

    @include vp-767 {
      justify-content: space-between;
      gap: 10px;
    }
  }

  &__input {
    border: 1px solid $color-nero-60;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;

    @media (max-width: 400px) {
      font-size: 10px;
      width: 100px;
    }
  }
}
