.type {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;

    @media (max-width: 900px) {
      gap: 15px;
    }

    @include vp-767 {
      grid-template-columns: repeat(4, auto);
      gap: 10px;
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(3, auto);
      gap: 5px;
    }

    @media (max-width: 400px) {
      grid-template-columns: repeat(2, auto);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    background-color: $color-golden-yellow;
    border-radius: 20px;
    padding: 10px;
    transition: background-color $transition-300;

    @media (max-width: 900px) {
      padding: 6px;
    }

    @include vp-767 {
      padding: 3px;
      border-radius: 5px;
    }

    &:hover,
    &:focus-visible {
      background-color: $color-nero;;
    }
  }

  &__btn {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: $color-white;
    padding: 5px;

    @include vp-767 {
      border-radius: 5px;
      padding: 2px;
    }
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    
    @media (max-width: 900px) {
      font-size: 12px;
    }

    @include vp-767 {
      font-size: 12px;
    }
  }

  &__image {
    max-width: 100%;
    height: 180px;
    object-fit: contain;
    border-radius: 20px;
    margin-bottom: auto;

    @media (max-width: 900px) {
      height: 160px;
    }

    @include vp-767 {
      border-radius: 5px;
      height: 120px;
    }
  }
}
