// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-golden-yellow: #FFDE00;
$color-nero: #1E1E1E;
$color-bright-turquoise: #00FFE0;
$color-dark-orange: #FF8700;
$color-scarlet: #FF2E00;


$color-white-10: rgba(255, 255, 255, 0.1);
$color-white-20: rgba(255, 255, 255, 0.2);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-nero-0: rgba(30, 30, 30, 0);
$color-nero-60: rgba(30, 30, 30, 0.6);

// Typography

$ff-interphases: "Interphases", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;
